body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
nav {
    height: 60px;
    width: 100%;
    background-color: #344051;
    position: fixed;
    opacity: 100%;
    z-index: 1;
}
.logo {
    line-height: 60px;
    margin-left: 380px;
    font-size: 28px;
    float: left;
    color: #fff;
    -webkit-animation: comming 3s;
    -o-animation: comming 3s;
    animation: comming 3s;
}
@keyframes comming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.menu {
padding-left: 432px;
    float: left;
    -webkit-animation: commingmen 2s;
    -o-animation: commingmen 2s;
    animation: commingmen 2s ;
    
}
@keyframes commingmen {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 43px;
    text-transform: uppercase;
}
.menu li a{
    transition-duration: 0.1s;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited {
    color: #fff;
}
.menu li a:hover {
    color: #d98e2b;
}
.menu li a:active{
    transform: scale(1.3);
}
.main {
 width: 100%;
    height: 100%;
    background: url(../img/boy-next-door.png) 90% 100%/auto 85% no-repeat  , url(../img/back1.png) center/cover no-repeat;
    box-shadow: 1px;
}
.title {
   float: left;
    margin: 432px 0px 0px 402px;
    text-align: center;
    -webkit-animation: timove 2s ease forwards;
    -o-animation: timove 2s ease forwards;
    animation: timove 2s ease forwards;
}
@keyframes timove {
    from {
        opacity: 0;
        margin-left: -100px;
    }
    to {
        opacity: 1;
        margin-top: 402px;
    }
}
.title h1 {
    color: #2c384a;
    font-size: 60px;
font-weight: bold;
}
.title h4 {
    margin-top: 30px;
    margin-bottom: 46px;
    font-size: 16px;
    color: #828995;
}
.title input {
    color: #6d7682;
    border: 2px solid #6d7682;
    border-radius: 10%;
    padding: 7px;
    margin: 0px 13px 0px 13px;
    background: none;
}
.title input {
    transition: all 0.1s;
    transform: scale(1);
}
.title input:hover {
    background: #344051;
    color: #fff;
}
.title input:active {
    transform: scale(1.5);
}
.main2 {
    width: 100%;
    height: 725px;
}
.discription h2 {
    float: left;
    width: 101%;
    margin: 100px 896px 0px 896px;
    font-size: 20px;
    font-weight: 600;
}
.cherta {
    float: left;
    margin: 24px 911px;
}
.photo1 {
    margin: 35px 847px 10px;
}
.discription p {
    width: 700px;
    text-align: left;
    margin: 10px 595px 45px 595px;
    font-weight: 300
}
.discription input {
    color: #6d7682;
    border: 2px solid #6d7682;
    border-radius: 5px;
    padding: 5px 5px 5px 20px;
    margin-left: 885px;
    background: url(../img/download.png) no-repeat 4% 50%
}
.discription input {
    transition: all 0.1s;
    transform: scale(1);
}
.discription input:hover {
    background: #;
    color: black;
}
.discription input:active {
    transform: scale(1.5);
}
.main3 {
    float: left;
    width: 100%;
    height: 520px;
    background: url(../img/backjpeg.jpg) no-repeat 100% 100%;
}
.main3 h2 {
    width: 500px;
    float: left;
    margin: 110px 900px 20px 875px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 150%
}
.cherta2 {
    margin: 0px 910px
}
.skill1 {
    float: left;
    width: 215px;
    height: 160px;
    margin: 110px 0px 0px 310px;
    transform: scale(1);
    transition-duration: 1.5s;
}
.skill1:hover {
    transform: scale(1.5)
}
.skill2 {
    float: left;
    width: 215px;
    height: 160px;
    margin: 110px 0px 0px 120px;
    transform: scale(1);
    transition-duration: 1.5s;
}
.skill2:hover {
    transform: scale(1.5)
}
.skill3 {
    float: left;
    width: 215px;
    height: 160px;
    margin: 110px 0px 0px 120px;
    transform: scale(1);
    transition-duration: 1.5s;
}
.skill3:hover {
    transform: scale(1.5)
}
.skill4 {
    float: left;
    width: 215px;
    height: 160px;
    margin: 110px 0px 0px 110px;
    transform: scale(1);
    transition-duration: 1.5s;
}
.skill4:hover {
    transform: scale(1.5)
}
.skill1 img {
    margin: 0px 77px
}
.skill1 span {
    float: left;
    margin: 40px 60px 20px 70px;
    color: #cf7600;
    font-weight: 600;
}
.skill1 p {
     float: left;
    text-align: center
}
.skill2 img {
    margin: 0px 83px
}
.skill2 span {
    float: left;
    margin: 40px 60px 20px 70px;
    color: #cf7600;
    font-weight: 600;
}
.skill2 p {
     float: left;
    text-align: center
}
.skill3 img {
    margin: 0px 85px
}
.skill3 span {
    float: left;
    width: 110%;
    margin: 40px 60px 20px 50px;
    color: #cf7600;
    font-weight: 600;
}
.skill3 p {
     float: left;
    text-align: center
}
.skill4 img {
    margin: 0px 82px
}
.skill4 span {
    float: left;
    margin: 40px 60px 20px 70px;
    color: #cf7600;
    font-weight: 600;
}
.skill4 p {
     float: left;
    text-align: center
}
.main4 {
    float: left;
    width: 100%;
    height: 2000px;
}
.siteView h2 {
    width: 00px;
    float: left;
    margin: 110px 900px 20px 910px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 150%
}
.cherta3 {
    margin: 24px 916px;
}
.siteView p {
    float: left;
    margin: 0px 700px;
    text-align: center;
}
.op {
    float: left;
    margin: 40px 360px 40px 360px;
}
.siteLink {
    float: left;
    text-align: left;
    width: 290px;
    height: 180px;
    margin: 0px 0px 0px 359px;
}
.siteLink h3 {
    margin: 8px 0px 8px 0px;
    font-weight: bold
}
.siteLink input {
    display: block;
    margin-top: 25px;
    padding: 11px 35px;
    background-color: #63b5ae;
    color: #fff;
    border-radius: 6px;
    transform: scale(1);
    transition: all 0.5s;
}
.siteLink input:hover {
    background-color: #53958f;
}
.siteLink input:active {
    transform: scale(1.2);
}
.siteLink2 {
    float: left;
    height: 150px;
    width: 850px;
    text-align: left;
}
.siteLink2 h3 {
    margin-bottom: 6px;
    font-weight: bold;
}
.siteLink2 p {
    line-height: 135%
}
.priceCount {
    float: left;
    margin: 210px 310px 0px 510px;
    height: 600px;
    width: 900px;
}
.priceCount h2 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 250%;
}
.priceCount h3 {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 30px;
    text-indent: 4px;
}
.priceCount select {
    margin-bottom: 40px;
    width: 890px;
    height: 60px;
    background-color: #eeeeee
}
.priceCount h4 {
    font-size: 110%;
    font-weight: bold;
    text-indent: 4px;
    margin-top: 12px
}
.span1 {
    float: right;
    margin-right: 10px;
}
.span2 {
    float: right;
    margin-right: 10px;
}
.main5 {
    float: left;
    width: 100%;
    height: 500px;
    background: url(../img/fon.png) no-repeat center bottom fixed ;
    transform-origin: center;
    background-size: cover;
    background-size: 
}
.main5 h2 {
    width: 269px;
    float: left;
    margin: 110px 900px 20px 835px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 150%
}
.cherta5 {
    margin: 0px 930px
}
.stat1 {
    float: left;
    width: 215px;
    height: 160px;
    margin: 110px 0px 0px 350px;
}
.stat2 {
    float: left;
    width: 215px;
    height: 160px;
    margin: 110px 0px 0px 120px;
}
.stat3 {
    float: left;
    width: 215px;
    height: 160px;
    margin: 110px 0px 0px 120px;
}
.stat4 {
    float: left;
    width: 215px;
    height: 160px;
    margin: 110px 0px 0px 120px;
}
.stat1 img {
    float: left;
    margin: 0px 80px
}
.stat1 span {
    float: left;
    margin: 0px 85px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 200%
}
.stat1 p {
    float: left;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 25px;
}
.stat2 img {
    float: left;
    margin: 0px 80px;
}
.stat2 span {
    float: left;
    margin: 0px 85px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 200%
}
.stat2 p {
    float: left;
    text-transform: uppercase;
    margin-left: 65px;
    margin-top: 25px;
}
.stat3 img {
    float: left;
    margin: 0px 80px;
}
.stat3 span {
    float: left;
    margin: 0px 85px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 200%
}
.stat3 p {
    float: left;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 25px;
    width: 101%;
}
.stat4 img {
    float: left;
    margin: 0px 80px;
}
.stat4 span {
    float: left;
    margin: 0px 95px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 200%
}
.stat4 p {
    float: left;
    text-transform: uppercase;
    margin-left: 45px;
    margin-top: 25px;
    width: 101%;
}
.main6 {
    float: left;
    width: 100%;
    height: 590px;
}
.main6 h2 {
    float: left;
    margin: 110px 900px 20px 915px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 150%
}
.face {
    float: left;
    margin: 40px 910px 0px 916px;
}
.main6 p {
    float: left;
 width:38%;
    text-align: center;
    margin: 35px 595px 0px 595px;
    font-weight: 300;
}
.main6 span {
    font-weight: 600;
}
.review {
    float: left;
    display: block;
    height: 60px;
    width: 100%;
}
.main6 input {
    float: left ;
    margin-left: 0px;
}
.main7 {
    float: left;
    width: 100%;
    height: 800px;
    background: url(../img/back2.jpg);
}
.main7 h2 {
    width: 310px;
    float: left;
    margin: 110px 900px 20px 815px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 250%;
    color: #fff;
}
.main7 p {
    color: #fff;
    width: 590px;
    height: 30px;
    text-align: center;
    margin-left: 680px;
    margin-top: 30px;
}
.cont1 {
    float: left;
    width: 215px;
    height: 90px;
    margin: 60px 0px 0px 655px;
    color: #fff;
}
.cont2 {
    float: left;
    width: 215px;
    height: 90px;
    margin: 60px 0px 0px 0px;
    color: #fff;
}
.cont3 {
    float: left;
    width: 215px;
    height: 90px;
    margin: 60px 0px 0px 0px;
    color: #fff;
}
.cont1 img {
    float: left;
    margin: 0px 80px;
}
.cont2 img {
    float: left;
    margin: 0px 80px;
}
.cont3 img {
    float: left;
    margin: 0px 80px;
}
.cont1 span {
    float: left;
    text-align: center;
    margin-left: 25px;
    margin-top: 10px;
    line-height: 130%
}
.cont2 span {
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    
}
.cont3 span {
    float: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
    
}
.message {
     float: left;
    width: 760px;
    height: 220px;
    margin-left: 585px
}
.main7 h3 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 150%;
    margin-bottom: 40px;
}
.textarea {
    text-indent: 5px;
}
.text1 {
    height: 35px;
    width: 350px;
    line-height: 35px;
    text-indent: 4px;
    margin-right: 26px;
}
.text2 {
    height: 35px;
    width: 350px;
    line-height: 35px;
    text-indent: 4px;
}
.text3 {
    height: 90px;
    width: 730px;
    line-height: 35px;
    text-indent: 4px;
    margin-top: 15px;
}
.main7 input {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 0px 13px 0px 13px;
    background: none;
    margin-left: 335px;
    margin-top: 25px;
    font-size: 110%;
    transform: scale(1);
    transition: all 0.5s;
}
.main7 input:active {
    transform: scale(1.5);
}
.main8 {
    float: left;
    width: 100%;
    height: 347px;
}
.main8 img {
    float: left;
    width: 100%;
    height: 102%;
        
}
.copyright {
    float: left;
    width: 100%;
    height: 95px;
    background-color: #354051;
}
.copyright p {
    color: #fff;
    line-height: 95px;
    margin-left: 830px;
}
